{% extends "AppCoder/padre.html" %}
{% load static %}
{% block principal %}


    <div class="container">
        <div class="header">
            <h1>Acerca de mi: Carolina Ramos</h1>
        </div><!-- end header-->
        <div class="intro column">
            <h2>Introducción</h2>
            <p>
                Ingeniera Industrial de nacionalidad peruana con 35 años de edad, con experiencia en el área de logística y compras. 
                Cursando actualmente la carrera técnica de Arquitectura de Datos con especialización en big data developer.
            </p>
        </div><!-- end intro-->
        <div class="skills column">
            <h3>Mis habilidades</h3>
            <ul id="skill-list">
                <li>Conocimiento base de lenguajes de programación (Java y Python)</li>
                <li>Conocimiento de SQL</li>
                <li>Negociación</li>
                <li>Habilidad de Análisis</li>						
                <li>Trabajo en Equipo</li>
                <li>Orientación al cliente</li>
                <li>Inglés Avanzado</li>
            </ul><!--end skill-list-->
        </div><!-- end skills-->
        <div class="main-text">
            <h3>Mas acerca de mi</h3>
            <p>
                Motivada por la docencia, estoy finalizando una maestría en Docencia Universitaria en mi país.
            </p>
            <p>
                Me gustaría especializarme y conocer mas del mundo de datos (ciencia de datos e ingeniería de datos.)
            </p>
        </div><!-- end main-text-->
    </div><!--end container-->

{% endblock %}