{% extends "AppCoder/padre.html" %}
{% load static %}
{% block principal %}

<ul>
    {% if user.is_authenticated %}
    <a href="{% url 'doctor-create' %}">Nuevo</a>
    {% endif %}   
    {%  for doctor in doctores  %}
    <li> {{ doctor.nombre}} - {{ doctor.apellido}} 
         <a href="{% url 'doctor-detail' doctor.id %}">Detalle</a>
         {% if user.is_authenticated %}
            <a href="{% url 'doctor-update' doctor.id %}">Actualizar</a>
            <a href="{% url 'doctor-delete' doctor.id %}">Borrar</a>
         {% endif %}   
    </li>
    {% endfor %}
</ul>
{% endblock %}