{% extends "AppCoder/padre.html" %}
{% load static %}
{% block principal %}

<ul>
    {% if user.is_authenticated %}
    <a href="{% url 'medicina-create' %}">Nuevo</a>
    {% endif %}   
    {%  for medicina in medicinas  %}
    <li>  {{ medicina.nombre}}
         <a href="{% url 'medicina-detail' medicina.id %}">Detalle</a>
         {% if user.is_authenticated %}
            <a href="{% url 'medicina-update' medicina.id %}">Actualizar</a>
            <a href="{% url 'medicina-delete' medicina.id %}">Borrar</a>
         {% endif %}   
    </li>
    {% endfor %}
</ul>
{% endblock %}