{% extends "AppCoder/padre.html" %}
{% load static %}
{% block principal %}

<ul>
    {% if user.is_authenticated %}
    <a href="{% url 'paciente-create' %}">Nuevo</a>
    {% endif %}   
    {%  for paciente in pacientes  %}
    <li>{{ paciente.nombre}} - {{ paciente.apellido}} 
        <a href="{% url 'paciente-detail' paciente.id %}">Detalle</a>
        {% if user.is_authenticated %}
           <a href="{% url 'paciente-update' paciente.id %}">Actualizar</a>
           <a href="{% url 'paciente-delete' paciente.id %}">Borrar</a>
        {% endif %}   
    </li>
    {% endfor %}
</ul>
{% endblock %}